<ion-content>
    <h1>Hand Washing Advice</h1>
    <p>Write about how to wash hands so that we kill the virus</p>
    <h2>ways to wash hands</h2>
    <ol>
        <li>Clean your hands regularly</li>
        <li>Wash your hands with soap and water and dry them thoroughly</li>
        <li>Use alcohol-based handrub if you dont have immediate access to soap and water </li>
    </ol>
    <h2>When to wash hands</h2>
    <ol>
        <li>Before,during or after preparing food</li>
        <li>Before and after eating food</li>
        <li>Before and after caring for the sick</li>
        <li>Before and after treating a cut or a wound</li>
        <li>After using the toilet</li>
        <li>After blowing nose,coughing or sneezing</li>
        <li>After touching an animal, animal feed, or animal waste</li>
        <li>After touching garbage</li>
    </ol>
    <h2>Hand washing video</h2>
    <video class="handwashing-video" controls src="./videos/Handwashing-video.mp4"></video>
    <h2>Steps to wash your hands</h2>
    <ol>
        <li>Wet your hands with clean, running water, tap off the tap and apply soap</li>
        <li>Lather your hands by rubbing them together with soap</li>
        <li>Scrub your hands for atleast 20 seconds</li>
        <li>Rinse your hands well under clean, running water</li>
        <li>Dry your hands using a clean towel or air dry them</li>
    </ol>

    <h2>Hand washing process</h2>
    <h4> Step 1, wet your hands with water</h4>
    <img class="handwashing-step" src="assets/images/step0.png" alt="Hand washing step 1">

    <h4> Step 2, Apply enough soap to cover all hand surfaces </h4>
    <img class="handwashing-step" src="assets/images/step1.png" alt="Apply enough soap on the hand">

    <h4> Step 3, Rub hands palm to palm </h4>
    <img class="handwashing-step" src="assets/images/step2.png">


    <h4> Step 4, Right palm over left dorsum with interlaced fingers and vice versa </h4>
    <img class="handwashing-step" src="assets/images/step3.png">


    <h4> Step 5, Palm to palm with fingers interlaced </h4>
    <img class="handwashing-step" src="assets/images/step4.png">

    <h4> Step 6, Backs of fingers to opposing palms with fingers interlocked </h4>
    <img class="handwashing-step" src="assets/images/step5.png">

    <h4> Step 7, Rotational rubbing of left thumb clasped in right palm and vice versa </h4>
    <img class="handwashing-step" src="assets/images/step6.png">


    <h4> Step 8, Rotational rubbing backwards and forwards with clasped fingers of right hand in left palm and vice
        versa
    </h4>
    <img class="handwashing-step" src="assets/images/step7.png">

    <h4> Step 9, Rinse hands with water </h4>
    <img class="handwashing-step" src="assets/images/step8.png">

    <h4> Step 10, Dry thoroughly with a single use towel </h4>
    <img class="handwashing-step" src="assets/images/step9.png">

    <h4> Step 11, Use towel to turn off tap </h4>
    <img class="handwashing-step" src="assets/images/step10.png">


    <h4> Step 12, And your hands are safe </h4>
    <img class="handwashing-step" src="assets/images/step11.png">
    <h2>How to wash hands audio</h2>
    <audio class="handwashing-audio" controls src="./assets/audio/Handwashing audio.mp3"></audio>
</ion-content>