<ion-content padding class="lyrics-content">
<h1 class="title">🎵 Now Playing: {{currentSong.songTitle}}</h1>
<audio #audioElem src="assets/audio/Baba_La_Gumbala_Instructions.mp3" autoplay="true" (timeupdate)="onAudioTimeUpdate(audioElem)"></audio>
<ul class="lyrics-list">
    <li>Person 1:</li>
    <li *ngFor="let line of lyricLinesPerson1">
        {{line}}
    </li>
</ul>
<ul class="lyrics-list">
    <li>Person 2:</li>
    <li *ngFor="let line of lyricLinesPerson2">
        {{line}}
    </li>
</ul>
<div class="button-container">
    <ion-button shape="round" (click)="toggleAudio()"><ion-icon name="{{paused ? 'play' : 'pause'}}"></ion-icon></ion-button>
</div>
</ion-content>