.title {
    margin: 30px;
    color: white;
}

.lyrics-list li {
    list-style: none;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.lyrics-content {
    --ion-background-color: #c47d20;
}

.button-container {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
