.title {
    margin: 30px;
    color: white;
}

.lyrics-list {
    flex-grow: 1;
    color: white;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
}

.lyrics-content {
    --ion-background-color: #c47d20;
}

.button-container {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.blob-container {
    flex-shrink: 0;
    width: 120px;
    position: relative;
    margin: 20px;
}


.blob-container .arm {
    width: 10%;
    position: absolute;
    right: 3px;
    bottom: 64px;
    z-index: 2;
    transform: rotate(50deg);
    transform-origin: bottom left;
    animation: waving-arm 3s infinite linear;
    -webkit-transform: rotate(50deg);
    -webkit-transform-origin: bottom left;
    -webkit-animation: waving-arm 3s infinite linear;
}

.blob-container2 {
    filter: hue-rotate(90deg);
}

@keyframes waving-arm {
    0% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    10% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
    20% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    59% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    70% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
    80% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
}

.lyric-section {
    display: flex;
    width: 100%;
}