<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/0.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/3.jpg">
        </ion-slide>
    </ion-slides>
</ion-content>