<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/0.PNG">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/1.PNG">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/2.PNG">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/Routine-for-medication/3.PNG">
        </ion-slide>
    </ion-slides>
</ion-content>