<ion-header>
    <ion-toolbar style="padding-left: 20px;">Activities</ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <img src="assets/images/songs_button1.png" [routerLink]="['/songs']">
        </ion-item>
        <ion-item>
            <img src="assets/images/stories_button1.png"  [routerLink]="['/stories']">
        </ion-item>
        <ion-item>
            <ion-label style="color: lightgrey;" [routerLink]="['/cake']">Cake</ion-label>
        </ion-item>
    </ion-list>
</ion-content>