<p>Bibi-sara-story works!</p>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/0.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/3.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/4.jpg">
        </ion-slide>
    </ion-slides>
</ion-content>
