<p>bibi-sara-story works!</p>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/0.PNG">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/1.PNG">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/2.PNG">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/3.PNG">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bibi-sara-story/4.PNG">
        </ion-slide>
    </ion-slides>
</ion-content>
