<p>The Bread and the Bully Story</p>
<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/stories/bread-and-bully-story/0.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bread-and-bully-story/1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bread-and-bully-story/2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bread-and-bully-story/3.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bread-and-bully-story/4.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bread-and-bully-story/5.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/bread-and-bully-story/6.jpg">
        </ion-slide>
        </ion-slides>
</ion-content>