<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="hand-washing">
            <ion-icon name="water-outline"></ion-icon>
            <ion-label>Hand Washing</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="scan-qr">
            <ion-icon name="qr-code-outline"></ion-icon>
            <ion-label>Scan QR Code</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>

<router-outlet></router-outlet>