<p>WhatsApp negative Story</p>
<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/stories/whatsapp-negative-story/0.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/whatsapp-negative-story/1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/whatsapp-negative-story/2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/whatsapp-negative-story/3.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/whatsapp-negative-story/4.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/whatsapp-negative-story/5.jpg">
        </ion-slide>
        </ion-slides>
</ion-content>