<p>Putting fire</p>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/stories/putting-out-fire/0.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/putting-out-fire/1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/putting-out-fire/2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/putting-out-fire/3.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/images/stories/putting-out-fire/4.jpg">
        </ion-slide>        
        </ion-slides>
</ion-content>